body {
	font-family: 'Noto Sans JP', 'Montserrat', sans-serif;
	background-color: #e8f2f0;
	color: #000;
	line-height: 1.6;
	font-size: 13px;
}
.wrapper {
	padding: 23px 15px 30px;
}

/* header ----- */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #4e6e68;
	line-height: 1;
}
.header_contents {
	display: flex;
	align-items: center;
}
.header_title {
	padding-right: 5px;
	padding-bottom: 5px;
	font-size: 36px;
	font-weight: 900;
}
.button {
	margin-left: 5px;
	color: #fff;
	font-size: 10px;
	padding: 10px;
	border-radius: 3px;
}
.button.button--add {
	background-color: #4e6e68;
}
.button.button--del {
	background-color: #924c5a;
}
.login {
	text-align: right;
	width: 100%;
}

/* todo ----- */
.todo {
	padding: 20px 0 0;
}
.todo > li {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 15px 15px 13px 13px;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(100,100,100,.1);
	transition: .3s;
}
.todo > li:not(:first-child) {
	margin-top: 10px;
}
.todo > li:hover {
	box-shadow: 0px 5px 5px rgba(100,100,100,.3);
}
.check {
	position: relative;
	width: 30px;
	min-width: 30px;
}
.check::before, .check::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, calc(-50% - 2px));
}
.check::before {
	background-color: #e3e5e5;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}
.check::after {
}
.menu {
	position: absolute;
	top: 50%;
	right: 0;
	width: 20px;
	height: 20px;
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .3;
	transform: translateY(-50%);
}

.todo > li.is-complete {
	opacity: .5;
}
.todo > li.is-complete  {
	opacity: .5;
}